@model ProjectsInfo.Models.Employes.Manager

@{
    ViewData["Title"] = "Удалить менеджера";
}

<h1 style="text-align:center;margin:2%">Удалить менеджера</h1>
<div>
    <div class="container">
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%;margin-bottom:1%">
                @Html.DisplayNameFor(model => model.Salary)
            </div>
            <div class="col" style="padding-left:25%;margin-bottom:2%">
                @Html.DisplayFor(model => model.Salary)
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-left:25%">
                <form asp-action="Delete" style="display: flex; flex-flow: row">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index">
                        <button type="button" class="btn waves-effect waves-light btn-block btn-danger" style="margin-left:5%">
                            Back
                        </button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>