<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/colors/blue.css" id="theme" rel="stylesheet" />
</head>
<body class="fix-header card-no-border mini-sidebar">
    <div id="main-wrapper">
        <header class="topbar" style="">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li>
                            <a asp-action="Index" asp-controller="Projects" style="color:white;display:block;padding-left:30px">Проекты</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Developers" style="color:white;display:block;padding-left:30px">Разработчики</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Managers" style="color:white;display:block;padding-left:30px">Менеджеры</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/assets/images/users/user.png" class="profile-pic">
                            </a>
                            <div style="padding:0" class="dropdown-menu dropdown-menu-right scale-up">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <p>@User.Identity.Name</p>
                                    <button type="button" class="btn waves-effect waves-light btn-block btn-danger">
                                        <a style="color:white" asp-controller="Accounts" asp-action="Logout">Logout</a>
                                    </button>
                                }
                                else
                                {
                                    <button style="width:100%;margin-bottom:1%" type="button" class="btn waves-effect waves-light btn-info">
                                        <a style="color:white" asp-controller="Accounts" asp-action="Login">Login</a>
                                    </button>
                                    <button type="button" class="btn waves-effect waves-light btn-block btn-danger">
                                        <a style="color:white" asp-controller="Accounts" asp-action="Register">Register</a>
                                    </button>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div>
        @RenderBody()
    </div>

    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/plugins/popper/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="`/js/jquery.slimscroll.js"></script>
    <script src="~/js/waves.js"></script>
    <script src="~/js/sidebarmenu.js"></script>
    <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/jasny-bootstrap.js"></script>
    <script src="~/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="~/assets/plugins/footable/js/footable.all.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>
