@model ProjectsInfo.Models.Employes.Developer

@{
    ViewData["Title"] = "Create";
}
<div class="margintitle">
    <h1 class="titleview">Create developer</h1>
</div>
<div class="row">
    <div class="col-md-4 centercontent">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group rowbtn">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">
                    <button type="button" class="btn waves-effect waves-light btn-block btn-danger backbtn">
                        Back to List
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
