@model ProjectsInfo.Models.Employes.Developer

@{
    ViewData["Title"] = "Delete";
}

<h1 class="titleview" ">Delete developer</h1>

<div>
    <div class="container">
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col detailsinfo">
                <div class="leftside">
                    @Html.DisplayNameFor(model => model.Salary)
                </div>
            </div>
            <div class="col detailsvalue">
                <div class="rightside">
                    @Html.DisplayFor(model => model.Salary)
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col detailsrowbtn">
                <form asp-action="Delete" class="rowbtn">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a asp-action="Index">
                        <button type="button" class="btn waves-effect waves-light btn-block btn-danger backbtn">
                            Back
                        </button>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

